/* CSS for index.html */

#enterSiteContainer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

@keyframes button-animation {
    from { opacity: 0; transform: scale(2, 2); }
    to   { opacity: 1; transform: scale(1, 1); }
}

#enterSiteContainer button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 10%;
    padding: 1rem 1rem;
    background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
    border-radius: 1rem;
    border: none;
    opacity: 0;
    animation-name: button-animation;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

#enterSiteContainer button:hover {
    cursor: pointer;
}

#loginButton {
    width: 100%;
    text-decoration: none;
    font-size: 1.6rem;
}

#imgContainer {
    display: flex;
    position: absolute;
    width: 95%;
    height: 95%;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

@keyframes logo-animation {
    from {opacity: 0;}
    to {opacity: 1;}
}

#logo {
    height: 80%;
    max-width: 100%;
    max-height: 1000px;
    animation-name: logo-animation;
    opacity: 0;
    animation-delay: 0.5s;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 980px) {

    #enterSiteContainer button {
        height: 5%;
    }

}
