/* CSS for index.html */

#container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#container button {
    width: 20%;
    height: 10%;
    padding: 1rem 1rem;
    background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
    border-radius: 1rem;
}

#loginButton {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}

@keyframes logo-animation {
    from {opacity: 0;}
    to {opacity: 0.5;}
}

#imgContainer {
    display: flex;
    position: absolute;
    width: 95%;
    height: 95%;
    align-items: center;
    justify-content: center;
}

#logo {
    height: 80%;
    max-width: 100%;
    z-index: -1;
    animation-name: logo-animation;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
