/* CSS file used for common CSS */

:root {
    --primary-background: #333;
    --primary-color: #1f4287;
    --secondary-color: #278ea5;
    --highlight-color: #278ea5;
    --text-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

ul {
    list-style: none;
}

body {
    /* https://stackoverflow.com/questions/33948011/creating-a-starry-background-in-css/33948319 */
    background-color:black;
    background-image:
            radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
            radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
            radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
            radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

/* NAVBAR */

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.navbar {
    background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
    font-size: 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.navbar .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    color: var(--text-color);
}

.navbar .logo {
    max-height: 100px;
}

.navbar .name {
    grid-column: 2/4;
}

.navbar .nav {
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav a {
    padding: 0 1.5rem;
}

.navbar .nav a:hover {
    color: #555;
}


.navbar-mobile {
    display: none;
    width: 100%;
    height: 10%;
    background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
    font-size: 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    text-align: right;
}

.navbar-mobile button {
    background: var(--secondary-color) url('../assets/hamburger.png') no-repeat top;
    background-size: cover;
    height: 60%;
    width: 10%;
    outline: none;
    border: none;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1.7rem;
    padding-bottom: 0.5rem;
}

.menu-items {
    display: flex;
    background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    align-content: flex-end;
}

.menu-items a {
    padding: 0.1rem 2rem 0.1rem 0.1rem;
    font-size: 1.7rem;
    /*background: var(--primary-background);*/
}

/* Media Queries */

@media only screen and (max-width: 980px) {
    .name {
        display: none;
    }

    .navbar {
        display: none;
    }

    .navbar-mobile {
        display: block;
    }
}
